.bglogin{
  background: #d8d8d8;
  padding-top: 25vh ;
}  
form{
  background: #fff;
}
.form-container{
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0px 0px 10px 0px;
  margin-top: 50px;

}
.bg{
  width: 220px;
  height: 100px;
  position: absolute;
  top: -150px;
 left: 22%;
 margin-top: 50px;

  
}
.painel{
  margin-left: 50px;
}
.form-busca{
  width: 100%;
  border-radius: 2px;
  padding: 8px;
  box-shadow: 0px 0px 3px 0px;

}
