.bglogin{
  background: #d8d8d8;
  padding-top: 15vh ;
}  

.form-container{
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0px 0px 10px 0px;
  margin-top: 50px;
  background: #fff;
  margin-left: auto;
 margin-right: auto;
}
.imglogin{
 width: 350px;
 height: 125px;
 padding-left: 100px;
 margin-left: auto;
 margin-right: auto;
  
}
.painel{
  margin-left: 40px;
  margin-top: 2px;
 
}
.form-busca{
  width: 100%;
  border-radius: 2px;
  padding: 8px;
  box-shadow: 0px 0px 3px 0px;

}
.btn-exibicao{
  padding-top: 78vh ;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
